<div class="artwork">
  <image src="{{artwork.Image}}" class="artwork-image" alt="{{artwork.Title}}" />
  <div class="artwork-details">
    <h2>{{artwork.Title}}</h2>
    <h3>{{artwork.Artist}}</h3>
  </div>
</div>
