<!DOCTYPE html>
<html lang=en>
<head>
    <title>ArtBeats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>twitter}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/share.css">
</head>
<body>
    {{>header}}
    {{{body}}}
</body>
</html>
